body{
    /* vh: 뷰포트의 높이값 100%*/
  height: 100vh;
  background-image: url(./img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.login-container{
    font-family: 'omyu_pretty';/*무조건 적용을 하려면 폰트 패밀리라는 것을 넣어야 한다*/
font-size: 16px;
/*기본값: normal(400), bold(700), 100~900 */
font-weight: 900;
/* font-style: italic; 기울기 */
}
.login-container { /*로그인 박스창*/
    background-color: #f6e4e417;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(118, 84, 84, 0.4);
    width: 300px;
    margin: 300px auto; 
    
}

h2 {
    text-align: center;
    color: #c08787;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* padding과 border가 width에 포함되도록 설정 */
    
}

button[type="submit"] { /*로그인 버튼*/
    width: 100%;
    padding: 10px;
    background-color: #dca1c2;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'omyu_pretty';
}

button[type="submit"]:hover {
    background-color: #d2817e;
}

.links { /**/
    margin-top: 15px;
    text-align: center;
}

.links a { /*아래글씨체*/
    color: #424242;
    text-decoration: none;
    font-size: 0.9em;
    margin: 0 5px;
}

.links a:hover {
    text-decoration: underline;
}

